/* scss variables */
.jumbotron {
  margin: 0;
  padding: 30px;
  background-image: url("../assets/images/rockville-bridge.jpg");
  background-size: cover;
  /*background-image: linear-gradient(to right, #B55054, #B55054, #A04B6C);*/
  color: white; }

.jumbotron-h1 {
  text-align: center;
  font-size: 80px; }

.navbar {
  background-color: #F3EED9; }

.navbar-nav {
  padding-right: 142px; }

.nav-link {
  text-decoration: none; }

.cafe-hours {
  /* border-right: 1px solid black;*/
  border: 1px solid black; }

.hours-list {
  text-align: center;
  padding-right: 30px;
  list-style-type: none;
  font-size: 15px; }

.cafe-address {
  /*  border-right: 1px solid black;*/
  border: 1px solid black;
  text-align: center;
  font-size: 15px; }

.cafe-map {
  border: 1px solid black;
  font-size: 15px; }

.cafe-info-headings {
  text-align: center;
  padding-top: 10px; }

.specials-row {
  background-color: #474040; }

.monthly-special-heading {
  text-align: center;
  padding: 10px 0 10px 0; }

.specials-heading {
  text-indent: 150px;
  color: white;
  font-size: 25px;
  font-style: bold; }

.special-images {
  width: 400px;
  height: 350px;
  cursor: pointer; }

.list-unordered {
  list-style: none; }

.about-info {
  padding-top: 30px; }

.about-info-content {
  padding-top: 20px; }

.contact-info {
  padding-top: 30px;
  overflow: hidden; }

.contact-info-form {
  padding-top: 30px;
  padding-left: 25px; }

.form-buttons {
  padding-top: 20px; }

.site-footer {
  background-color: #F3EED9;
  padding: 10px 20px; }
